# Database (Supabase)
DATABASE_URL=Host=aws-1-sa-east-1.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.xxx;Password=sua_senha_supabase;SSL Mode=Require;Trust Server Certificate=true

# RabbitMQ (CloudAMQP)
RABBITMQ_URI=amqps://usuario:senha@shark.rmq.cloudamqp.com/nome_vhost

# Resend (Email)
RESEND_API_KEY=re_xxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL=noreply@evoluasoftware.com.br
RESEND_FROM_NAME=Ricardodev Solucao WEB

# Twilio (SMS)
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_MESSAGING_SERVICE_SID=MGxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
